services:
  web:
    build:
      context: ./containers/php
    container_name: php-apache
    ports:
      - "8080:80"
    volumes:
      - ./wordpress:/var/www/html
      - ./var:/var/log
    environment:
      - DB_HOST=db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db

  db:
    image: mysql:latest
    container_name: mysql-book
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./var/containers/db_data:/var/lib/mysql

volumes:
  db_data:
    external: true
